body {
  --bege: #E6E0D6;
  --marrom-escuro: #45777e;
  --marrom-claro: #63a9b2;
  font-family: 'Barlow', sans-serif;
  overflow-x: hidden;
  /* teste */
}

input[type=checkbox] {
  border: 2px solid var(--marrom-claro);
  box-shadow: none;
}

input[type=checkbox]:checked,
input[type="checkbox"]:focus {
  background-color: var(--marrom-claro);
  border-color: var(--marrom-claro);
  box-shadow: none;
  outline: none;
}

.banners {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banners-titulo {
  --bs-bg-opacity: .2;
  background: #8e8d8da8 !important;
}

.banner-1,
.banner-2,
.banner-3 {
  width: 100vw;
  height: 100%;
  top: 0;
  background-attachment: fixed;

}

.banner-1 img,
.banner-2 img,
.banner-3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background-attachment: fixed;
}

.z-1 {
  z-index: 1 !important;
}

.z-2 {
  z-index: 2 !important;
}

.banners {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.banners-titulo {
  --bs-bg-opacity: .2;
}

.botao-padrao {
  background-color: var(--marrom-claro);
  color: black;
}

.botao-padrao:hover {
  background-color: var(--marrom-escuro);
}

.input-range::-webkit-slider-thumb,
footer {
  background-color: var(--marrom-claro);
}

[data-bs-theme="dark"] {
  color: white;

  .nav-link,
  .card-body,
  .offcanvas,
  .accordion,
  .btn {
    --bs-nav-link-color: white;
    --bs-card-color: white;
    --bs-offcanvas-color: white;
    --bs-body-color: white;
    --bs-body-color: white;
  }
}

.logoMd {
  width: 255px;
  height: 80px;
}

.wpp {
  position: fixed;
  right: 40px;
  bottom: 50px;
  z-index: 999;
  /* background-color: red; */
}

.wpp img {
  width: 70px;
  height: 70px;
}